<% include partials/header %>

<div class = "container jumbotron text-center">
	<h1 class = "">  yelcamp landing page </h1>
	<a href="/campgrounds" class="btn btn-info" role="button">See all campgrounds</a>
	
</div>





<% include partials/footer %>